<h1>Name: </h1>
<%= @person.name %>
<br/>
<h1>Introduction: </h1>
<%= @person.introduction %>
<br/>
<h1>Nickname: </h1>
<%= @person.nickname %>
<br />
<h1>Birth year: </h1>
<%= @person.birth_year %>
<br />
